.btn {
	/* margin: 1rem 0; */
	padding: 1em 2em;
	font-weight: bold;
	color: #fff;
	border-radius: 0.5rem;
	border: none;
	background-color: var(--color-text-heading);
	background-size: 200% auto;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
	transition:
		color 0.3s,
		background-color 0.3s;
}

.btn-details {
	width: 100%;
	margin: 0.75em 0;
}

.btn-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color-text-heading);
	background-color: rgb(242, 238, 220);
	font-size: 0.6rem;
	font-weight: normal;
}

.btn-card i {
	font-size: 1.25rem;
	margin-bottom: 0.25em;
}

/* .btn:hover {
	background-color: ;
	color: #fff;
} */

.btn:disabled {
	color: #ffffff;
	background-image: none;
	background-color: #d4d4d4;
	border: 1px solid transparent;
}
