.btn {
	margin: 1rem 0;
	padding: 1rem 2rem;
	font-weight: bold;
	color: #fff;
	border-radius: 0.5rem;
	border: none;
	background-image: linear-gradient(
		to right,
		#603813 0%,
		#b29f94 51%,
		#603813 100%
	);
	background-size: 200% auto;
	box-shadow: 0 0 20px #eee;
	transition:
		color 0.3s,
		background-position 0.3s;
}

.btn-danger {
	background-image: linear-gradient(
		to right,
		#eb3349 0%,
		#f45c43 51%,
		#eb3349 100%
	);
}

.btn-grad {
	background-image: linear-gradient(
		to right,
		#eb3349 0%,
		#f45c43 51%,
		#eb3349 100%
	);
}

.btn-edit {
	background-image: linear-gradient(
		to right,
		#1fa2ff 0%,
		#12d8fa 51%,
		#1fa2ff 100%
	);
}

.btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.btn:hover {
	background-position: right center;
	color: #fff;
}

.btn:disabled {
	color: #ffffff;
	background-image: none;
	background-color: #d4d4d4;
	border: 1px solid transparent;
}
