.nav {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	background-color: var(--bg-secondary-color);
	box-shadow: 4px 0 10px rgba(0, 0, 0, 0.05);
}

.logo-icon {
	margin-right: 0.5rem;
	height: 1.75rem;
}

.logo-name {
	display: flex;
	align-items: center;
	padding: 1rem 0;
	font-size: 1.5rem;
	font-weight: bold;
}

.logo-name-color {
	color: var(--color-text-heading);
}
.nav-img {
	width: 20px;
}

@media (width <= 768px) {
	.nav {
		padding: 0 1rem;
	}
	/*!
	* Hamburgers
	* @description Tasty CSS-animated hamburgers
	* @author Jonathan Suh @jonsuh
	* @site https://jonsuh.com/hamburgers
	* @link https://github.com/jonsuh/hamburgers
	*/
	.hamburger {
		padding: 15px 15px;
		display: inline-block;
		cursor: pointer;
		transition-property: opacity, filter;
		transition-duration: 0.15s;
		transition-timing-function: linear;
		font: inherit;
		color: inherit;
		text-transform: none;
		background-color: transparent;
		border: 0;
		margin: 0;
		overflow: visible;
		z-index: 2;
	}
	.hamburger:hover {
		opacity: 0.7;
	}
	.hamburger.is-active:hover {
		opacity: 0.7;
	}
	.hamburger.is-active .hamburger-inner,
	.hamburger.is-active .hamburger-inner::before,
	.hamburger.is-active .hamburger-inner::after {
		background-color: #000;
	}

	.hamburger-box {
		width: 40px;
		height: 24px;
		display: inline-block;
		position: relative;
	}

	.hamburger-inner {
		display: block;
		top: 50%;
		margin-top: -2px;
	}
	.hamburger-inner,
	.hamburger-inner::before,
	.hamburger-inner::after {
		width: 40px;
		height: 4px;
		background-color: #000;
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
	}
	.hamburger-inner::before,
	.hamburger-inner::after {
		content: '';
		display: block;
	}
	.hamburger-inner::before {
		top: -10px;
	}
	.hamburger-inner::after {
		bottom: -10px;
	}

	/*
   * 3DX
   */
	.hamburger--3dx .hamburger-box {
		perspective: 80px;
	}

	.hamburger--3dx .hamburger-inner {
		transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
			background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
	}
	.hamburger--3dx .hamburger-inner::before,
	.hamburger--3dx .hamburger-inner::after {
		transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	.hamburger--3dx.is-active .hamburger-inner {
		background-color: transparent !important;
		transform: rotateY(180deg);
	}
	.hamburger--3dx.is-active .hamburger-inner::before {
		transform: translate3d(0, 10px, 0) rotate(45deg);
	}
	.hamburger--3dx.is-active .hamburger-inner::after {
		transform: translate3d(0, -10px, 0) rotate(-45deg);
	}

	.hamburger--3dy .hamburger-box {
		perspective: 80px;
	}

	.hamburger--3dy .hamburger-inner {
		transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
			background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
	}
	.hamburger--3dy .hamburger-inner::before,
	.hamburger--3dy .hamburger-inner::after {
		transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	.hamburger--3dy.is-active .hamburger-inner {
		background-color: transparent !important;
		transform: rotateX(-180deg);
	}
	.hamburger--3dy.is-active .hamburger-inner::before {
		transform: translate3d(0, 10px, 0) rotate(45deg);
	}
	.hamburger--3dy.is-active .hamburger-inner::after {
		transform: translate3d(0, -10px, 0) rotate(-45deg);
	}

	.nav-menu {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100vh;
		transform: translateX(100%);
		background-color: var(--bg-secondary-color);
		overflow-y: auto;
		transition: transform 0.3s;
	}

	.nav-menu-container {
		margin-top: 4rem;
		padding: 1rem;
	}

	.menu-active {
		transform: translateX(0);
	}
	.categories {
		margin-bottom: 2rem;
	}
	.category-box {
		display: flex;
		flex-direction: column;
		/* width: 100%; */
	}
	.category {
		margin-bottom: 1rem;
		font-weight: bold;
	}

	.subcategory {
		display: flex;
		margin-bottom: 1rem;
		gap: 0.5rem;
		color: var(--color-text-heading);
		font-size: 1.75rem;
	}
}

@media (375px <= width <= 768px) {
	.logo-name {
		font-size: 1.75rem;
	}

	.category {
		font-size: 1.25rem;
	}
	.subcategory {
		font-size: 2rem;
	}
	.nav-img {
		width: 32px;
	}
}
@media (width > 768px) {
	.hamburger {
		display: none;
	}
	.nav {
		flex-direction: column;
		justify-content: flex-start;
		height: 100vh;
		border-right: 1px solid var(--main-color);
		overflow-y: auto;
	}

	.logo-name {
		margin: 1.5rem 3rem 0.5rem 1.5rem;
		padding: 0;
	}

	.nav-menu {
		display: flex;
		flex-grow: 1;
		color: var(--color-text-heading);
	}

	.nav-menu-container {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.categories {
		margin: 0 0.5rem;
		&:last-child {
			margin-top: auto;
		}
	}

	.category-box {
		display: flex;
		align-items: center;
	}

	.category {
		margin: 1rem;
		flex-shrink: 0;
		font-size: 14px;
		font-weight: bold;
	}

	.line {
		width: 100%;
		height: 1px;
		background-color: var(--main-color);
	}

	.subcategory {
		display: flex;
		align-items: center;
		margin-bottom: 0.5rem;
		padding: 1rem 0 1rem 1rem;
		gap: 0.5rem;
		transition: font-weight 0.3s, border-radius 0.3s;

		img {
			width: 20px;
		}
		&:hover,
		&.active {
			font-weight: bold;
			/* background-color: var(--main-color); */
			background-image: var(--bg-primary-color);
			border-radius: 0.5rem;
		}
	}
}
