.nav {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	background-color: var(--bg-secondary-color);
}

@media (width <= 768px) {
	.nav {
		padding: 0 1rem;
		box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
	}
}

@media (width > 768px) {
	.nav {
		flex-direction: column;
		justify-content: flex-start;
		height: 100vh;
		border-right: 1px solid var(--main-color);
		box-shadow: 4px 0 10px rgba(0, 0, 0, 0.05);
		overflow-y: auto;
	}
}
