.container {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	background-image: var(--bg-primary-color);
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem;
	width: 100%;
	max-width: 1400px;
}
