.container {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	background-image: var(--bg-primary-color);
}

.wrapper {
	width: 100%;
	max-width: 1400px;
	display: flex;
	justify-content: center;
}
